
h1 {
 text-align: center;
}

.container {
    background-color: #E4FDE1;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

#amount {
  font-size: 5em;
}

.app {
    float: none;
    margin: 0 auto;
    /*width: 80%;*/
    border-radius: 5px;
    border: 2px solid #E4FDE1;
    width: 70%;
}

.headerRibbon {
    color: #114B5F;
    min-height: 4em;
    text-align: center;
}

.block {
    min-height: 15em;
    text-align: center;
}

#state {
    background-color: red;
}

#camera {}

.col-center {
    margin: 0 auto;
}

#player {
    width: 40%;
    height: 40%;
    padding: 1em;
}

#input {}


/* SAGE Below*/

h1 {}

input {
    font-size: 12pt;
}

#main {
    width: 550px;
    margin: 0 auto;
}

#submit-container {
    padding-top: 10px;
    float: right;
}

input[type=submit] {
    border: none;
    background: indigo;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
